{% extends "base_generic.html" %}



{% block content %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">Update Payment Method</h4>
	                                <p class="category">Blank cateogry</p>
	                            </div>

                                <div class="card-content">



    {% if errors %}
        <div class="errors">
            {{ errors }}
        </div>
    {% endif %}

    <form action="{% url "pinax_stripe_payment_method_update" object.pk %}" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
        <div class="alert alert-info">
            {{ object.brand }}
            {{ object.last4 }}
            Expires {{ object.exp_month }} / {{ object.exp_year }}
    </div>
    </div>
        </div>
        <div class="">
            <label for="expMonth">New Expiration</label>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                <input class="form-control" type="text" size="2" placeholder="Month" name="expMonth" />
                    </div>
            <div class="col-md-2">
                <input class="form-control" type="text" size="4" placeholder="Year" name="expYear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-fill btn-info">Update</button>
        </div>
    </form>

                                </div>


	                        </div>

	                    </div>
	                    </div>
	                </div>
	                </div>

{% endblock %}
