{% extends "base_generic.html" %}
<!-- TODO -->
{% load static %}
{% block css%}
    {{ block.super }}
    <link href="{% static 'assets/css/pricing.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

{% if object %}
    {% url "pinax_stripe_subscription_update" object.pk as post_url %}
{% else %}
    {% url "pinax_stripe_subscription_create" as post_url %}
{% endif %}
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">{% if object %}Change{% else %}Add{% endif %} Subscription</h4>
	                                <p class="category">Blank cateogry</p>
	                            </div>

                                <div class="card-content">


                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            {% if object %}
                                            <div class="alert alert-success text-center">
                                         <h4>
                                            <span class="text-center">Current plan - {{ object.plan.name }}</span>
                                        </h4>
                                            </div>
                                            {% endif %}


                            {% if errors %}
                                <div class="errors">
                                    {{ errors }}
                                </div>
                            {% endif %}
                                <form data-stripe-key="{{ PINAX_STRIPE_PUBLIC_KEY }}" data-card-mount-id="card-element" data-card-errors-id="card-errors" action="{{ post_url }}" method="post">
                                    {% csrf_token %}

                                    <div class="hidden">
                                        {{ form }}
                                    </div>
                                    {% if not request.user.customer.default_source %}
                                        <div id="card-element"></div>
                                        <div id="card-errors" role="alert"></div>
                                    {% endif %}



                    <div class="row">
                {% for choice in form.plan.field.queryset %}
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable {{ choice.defaultplan.get_box_color_display }}">
                        <div class="pricingTable-header">
                            <h3>{{ choice.name }}</h3>
                            <span>Automating tasks</span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>{{ choice.amount }}</span></span>
                            <span class="month">/month</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>{{ choice.defaultplan.message_limit }}</b> Messages</li>
                                <li><b>50</b> Daily limit</li>
                            </ul>
                        </div><!-- CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <button type="button" onclick="app.subscribe({{ choice.pk }})" class="btn btn-block">{% if object %}Update{% else %}Subscribe{% endif %}</button>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
                {% endfor %}
                    </div>

                    <br />
                                </form>
                                        </div>
                                    </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

{% endblock %}

    {% block js %}
        {% include "pinax/stripe/_stripe_js.html" %}
        {{ block.super }}
        {% if not request.user.customer.default_source %}
	        <script src="{% static 'assets/js/pinax-stripe/pinax-stripe2.js' %}"></script>
        {% endif %}
    {% endblock %}

