{% extends "base_generic.html" %}
{% load static %}
    {% block content %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">Collector</h4>
	                                <p class="category">Collect facebook profiles</p>
                                    <p class="collector_notification">Group scrape functionality is only available for paid users. <a href="{% url 'pinax_stripe_subscription_create' %}" class="btn">Subscription</a>
                                    </p>
	                            </div>
	                            <div class="card-content">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li class="{{ message.tags  }}">{{ message  }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <form id="id_collector_form" action="" method="POST">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                    <button type="button" onclick="app.show_swal('collector')" class="btn btn-fill btn-info ">Start</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



{% endblock %}
