{% extends "base_generic.html" %}
{% load static %}
    {% block content %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">Downloads</h4>
	                                <p class="category">Download Client</p>
	                            </div>

                                <div class="card-content">
                                    <div class="text-center">
                                        <h3 id="">Access Token for client</h3>
                                        <b>
                                    {{ token }}
                                        </b>
                                    </div>
                                    <div class="img-responsive">
                                    	<!-- <div class="download-part">
                                    		<img src="{% static 'assets/img/windows.jpg' %}" />
                                    		<div class="download-item download-bg">
                                    			<label class="download-title">Windows</label>
                                    			<label class="download-desc">Windows 7, 8, 10</label>
                                    		</div>

                                    	</div>
                                    	<div class="download-part">
                                    		<img src="{% static 'assets/img/linux.jpg' %}" />
                                    		<div class="download-item">
                                    			<div class="download-item-t download-bg">
	                                    			<label class="download-title">.deb</label>
	                                    			<label class="download-desc">Debian, Ubuntu</label>
	                                    		</div>
                                    		
                                    			<div class="download-item-t download-bg">
                                    				<label class="download-title">.rpm</label>
                                    				<label class="download-desc">Red Hat, Fedora, SUSE</label>
                                    			</div>
                                    		</div>
                                    	</div> -->
                                    	<div class="download-part">
                                    		<a href="{% static 'assets/build/client.dmg' %}">
	                                    		<img src="{% static 'assets/img/macos.jpg' %}" />
	                                    		<div class="download-item download-bg">
	                                    			<label class="download-title">Mac</label>
	                                    			<label class="download-desc">macOS 10.9+</label>
	                                    		</div>
	                                    	</a>
                                    	</div>
                                    <!-- <img src="{% static 'assets/img/download.png' %}" /> -->
                                    </div>
                                </div>


	                        </div>

	                    </div>
	                    </div>
	                </div>
	                </div>


{% endblock %}
