{% extends "base_generic.html" %}
{% load static %}
    {% block content %}
	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">Facebook accounts</h4>
	                                <p class="category">Add/Modify/Remove</p>
	                            </div>
	                            <div class="card-content table-responsive table-full-width">
                                    <div class="col-md-2 pull-right">
                                        {% csrf_token %}
                                        <button onclick="app.show_swal('new-account')" class="btn btn-wd btn-info btn-fill">
                                            <span class="btn-label">
                                                <i class="ti-plus"></i>
                                            </span> Add new </button>
                                    </div>
	                                <table class="table">
	                                    <thead>
                                            </tr>
	                                        <tr>
	                                            <th class="text-center">#</th>
	                                            <th>Username</th>
	                                            <th>Created on</th>
	                                            <th class="text-right">Actions</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
                                            {% for account in accounts %}
	                                        <tr>
                                                <td class="text-center">{{ account.id }}</td>
                                                <td>{{ account.username }}</td>
	                                            <td>{{ account.created_on|date:"d/m/Y" }}</td>
	                                            <td class="td-actions text-right">
	                                                <button onclick="app.show_swal('edit-account', {{account.id}})"rel="tooltip" title="Edit Account" class="btn btn-success btn-simple btn-xs">
	                                                    <i class="ti-pencil-alt"></i>
	                                                </button>
                                                    <button onclick="app.show_swal('remove-account', {{account.id}})" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
	                                                    <i class="ti-close"></i>
	                                                </button>
	                                            </td>
	                                        </tr>
                                            {% endfor %}
	                                    </tbody>
	                                </table>
	                            </div>
                                <div class="card-footer text-right">

											<ul class="pagination pagination-info">
                      {% if accounts.has_previous %}
                        <li><a href="{{ request.path }}?page={{ accounts.previous_page_number }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                      {% endif %}
                      {% for num in accounts.paginator.page_range %}
                      <li {% ifequal num accounts.number %} class="active" {% endifequal %}><a href="{{ request.path }}?page={{ num }}">{{ num }}</a></li>
                      {% endfor %}
                      {% if accounts.has_next %}
                        <li><a href="{{ request.path }}?page={{ accounts.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                      {% endif %}
											</ul>

                                </div>
	                        </div>

	                    </div>
	                    </div>
	                </div>
	                </div>



{% endblock %}
