 <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="pricingTable purple">
                <div class="pricingTable-header">
                    <h3>Free trial</h3>
                    <span>You have only two days</span>
                </div>
                <div class="pricing-plans">
                    <span class="price-value"><i class="fa fa-usd"></i><span>00.00</span></span>
                    <span class="month">/2 day</span>
                </div>
                <div class="pricingContent">
                    <ul>
                        <li><b>100</b> Messages</li>
                        <li><b>50</b> Daily limit</li>
                    </ul>
                </div><!-- CONTENT BOX-->
                <div class="pricingTable-sign-up">
                    <a href="#" class="btn btn-block">Subscribe</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
<div class="col-md-4 col-sm-6">
                    <div class="pricingTable yellow">
                        <div class="pricingTable-header">
                            <h3>Basic</h3>
                            <span>Automating tasks</span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>20.00</span></span>
                            <span class="month">/month</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>500</b> Messages</li>
                                <li><b>50</b> Daily limit</li>
                            </ul>
                        </div><!-- CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block">Subscribe</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>

<div class="col-md-4 col-sm-6">
                    <div class="pricingTable green">
                        <div class="pricingTable-header">
                            <h3>Proffesional</h3>
                            <span>Package for proffesionals</span>
                        </div>
                        <div class="pricing-plans">
                            <span class="price-value"><i class="fa fa-usd"></i><span>30.00</span></span>
                            <span class="month">/month</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li><b>1000</b> Messages</li>
                                <li><b>50</b> Daily limit</li>
                            </ul>
                        </div><!-- CONTENT BOX-->
                        <div class="pricingTable-sign-up">
                            <a href="#" class="btn btn-block">Subscribe</a>
                        </div><!-- BUTTON BOX-->
                    </div>
                </div>
    </div>
